<div class="recipes-page-wrapper">
  {{#each recipes}}
  <a href="/recipe/{{id}}" class="items-page-card-link">
    <div class="card horizontal items-page-card">
      <div class="card-image">
        <img src="/{{image_path}}" class="recipe-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="title"><strong>{{title}}</strong></p>
          <p class="date"><strong>{{date}}</strong></p>
          <p class="description">{{description}}</p>
        </div>
        <div class="card-action card-info">
          <i class="material-icons">visibility</i>
          <div>{{views}}</div>
          <div>
            {{#if stars.zero}}
            <div class="rating">&#9734;&#9734;&#9734;&#9734;&#9734;</div>
            {{else if stars.one}}
            <div class="rating">&#9733;&#9734;&#9734;&#9734;&#9734;</div>
            {{else if stars.two}}
            <div class="rating">&#9733;&#9733;&#9734;&#9734;&#9734;</div>
            {{else if stars.three}}
            <div class="rating">&#9733;&#9733;&#9733;&#9734;&#9734;</div>
            {{else if stars.four}}
            <div class="rating">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
            {{else if stars.five}}
            <div class="rating">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
            {{/if}}
            <div>({{nr_ratings}})</div>
          </div>
        </div>
      </div>
    </div>
  </a>
  {{/each}}
  {{#if uneven}}
  <div class="card horizontal items-page-card-link disabled" style="border: 0px"></div>
  {{/if}}
</div>
<div class="row recipe-pagination">
  <div class="col s12">
    <ul class="pagination center-align">
      {{#unless previous}}
      <li class="disabled"><a href="#/"><i class="material-icons">chevron_left</i></a></li>
      {{else}}
      <li class="waves-effect"><a href="#/" onclick="TE.getRecipes({{previous}})"><i
            class="material-icons">chevron_left</i></a></li>
      {{/unless}}
      {{#each pages}}
      {{#if active}}
      <li class="active deep-orange darken-1"><a href="#">{{index}}</a></li>
      {{else}}
      <li class="waves-effect"><a href="#/" onclick="TE.getRecipes({{index}})">{{index}}</a></li>
      {{/if}}
      {{/each}}
      {{#unless next}}
      <li class="disabled"><a href="#/"><i class="material-icons">chevron_right</i></a></li>
      {{else}}
      <li class="waves-effect"><a href="#/" onclick="TE.getRecipes({{next}})"><i
            class="material-icons">chevron_right</i></a></li>
      {{/unless}}
    </ul>
  </div>
</div>